html{

    height:100vh;
    margin:0;
    padding:0;
    background: url('./ShineBrightScheduleBackground.jpg') no-repeat center center fixed ; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size:cover;

    
}
body{

}

canvas{
  
    position:fixed;
    display:block;
    top:0;
    z-index:-1;
    width:100%;   
    height:100%;
 
}

.container{


  

}
#divo{

    width: 100%;
    height: 100%

}
#nav{
    z-index: 10;
    position: relative;
  } 
  
  #sidenav-overlay {
    z-index: 9
  }
a{
    color:black;
}

@font-face {
    font-family: 'cc'; /*a name to be used later*/
    src: url('../fonts/CodaCaption-ExtraBold.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'f1'; /*a name to be used later*/
    src: url('../fonts/FrancoisOne-Regular.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'fin'; /*a name to be used later*/
    src: url('../fonts/Josefin_Sans.zip'); /*URL to font*/
}
@font-face {
    font-family: 'v'; /*a name to be used later*/
    src: url('../fonts/VarelaRound-Regular.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'atypewriter'; /*a name to be used later*/
    src: url('../american_typewriter.woff'); /*URL to font*/
}


@media screen and (max-width: 769px) {


    /* STYLES HERE */

    html{
   
        margin:0;
        padding:0;
    
      
        background: url('./ShineBrightScheduleBackground.jpg') no-repeat center center fixed ; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
         background-size:cover;
        ;
    
        
    }



}
